.landing-page {
  height: 100vh;
  background-image: url('../../assets/imgs/sun-earth-shadow.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  h1 {
    margin: 0;
    padding-top: 10em;
    font-size: 2em;
    color: #ccc;
    font-weight: 300;
  }
}