@import"../common/Styles/mixins.scss";

.landing-page {
  height: 100vh;
  background-image: url('../../assets/imgs/sun-earth-shadow.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 10;

  h1 {
    margin: 0;
    text-align: center;
    padding-top: 8em;
    font-size: 2em;
    color: #ccc;
    font-weight: 300;
    @include mobile-landscape-and-below{
      font-size: 1em;
    }
    @include mobile-portrait-and-below{
      padding-top: 12em;
    }
  }
}