@import "../common/Styles/mixins.scss";

.results-page {
  @include mobile-landscape-and-below{
    font-size: 12px;
    width: 18em;
  }
  display: block;
  background: rgb(58, 58, 58);
  position: relative;
  z-index: -5;
  width: 35em;
  margin: 0 auto;
  padding: 1.5em;
  color: rgb(202, 202, 202);
}

.no-results-page {
  display: none !important; 
}